body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    margin-left: 200px;
    position: relative;
}

section {
    padding: 100px 20px;
    text-align: center;
}

#showcase {
    margin-top: -20px; /* To overlap the header with the first section */
    padding-top: 0; /* Remove top padding to ensure proper overlap */
}

section img {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    
}
.grid img{
    width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.package-option {
    margin-bottom: 40px;
}

.room-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.room-selection button {
    padding: 10px;
    margin: 0 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

room-selection button:hover {
    background-color: #555;
}
